{% extends "slick_reporting/report.html" %}
{% load  slick_reporting_tags %}

{% block content %}
    {{ block.super }}

{% endblock %}

{% block extrajs %}
    {{ block.super }}

    <script>

        let chart = null;

        function displayChartCustomEntryPoint(data, $elem, chartOptions) {
            alert("This is a custom entry point for displaying charts. " +
                "Check the console for the sent arguments")
            console.log("data:", data);
            console.log("$elem:", $elem);
            console.log("chartOptions:", chartOptions);
        }

        function DisplayApexPieChart(data, $elem, chartOptions) {
            let legendAndSeries = $.slick_reporting.chartsjs.getGroupByLabelAndSeries(data, chartOptions);
            let options = {}
            if (chartOptions.type === "pie") {
                options = {
                    series: legendAndSeries.series,
                    chart: {
                        type: "pie",
                        height: 350
                    },
                    labels: legendAndSeries.labels,
                };
            } else {
                options = {
                    chart: {
                        type: 'bar'
                    },
                    series: [{
                        name: 'Sales',
                        data: legendAndSeries.series
                    }],
                    xaxis: {
                        categories: legendAndSeries.labels,
                    }
                }
            }

            try {
                // destroy old chart, if any
                chart.destroy();
            } catch (e) {
                // do nothing
            }

            chart = new ApexCharts($elem[0], options);
            chart.render();

        }
    </script>

{% endblock %}