{% load slick_reporting_demo_tags %}

<ul class="navbar-nav pt-lg-3">
    <li class="nav-item">
        <a class="nav-link" href="{% url "home" %}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M5 12l-2 0l9 -9l9 9l-2 0"/><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path
                            d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/></svg>
                  </span>
            <span class="nav-link-title">
                    Home
                  </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "dashboard" %}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M5 12l-2 0l9 -9l9 9l-2 0"/><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path
                            d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/></svg>
                  </span>
            <span class="nav-link-title">
                    Dashboard Example
                  </span>
        </a>
    </li>

    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false"
           role="button" aria-expanded="false">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"/><path d="M12 12l8 -4.5"/><path
                            d="M12 12l0 9"/><path d="M12 12l-8 -4.5"/><path d="M16 5.25l-8 4.5"/></svg>
                  </span>
            <span class="nav-link-title">
                    Tutorial
                  </span>
        </a>
        <div class="dropdown-menu {% should_show "tutorial" %}">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    {% get_menu "tutorial" %}

                    {#                    <a class="dropdown-item" href="./badges.html">#}
                    {#                        Badges#}
                    {#                        <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>#}
                    {#                    </a>#}
                    {#                    <a class="dropdown-item" href="./buttons.html">#}
                    {#                        Buttons#}
                    {#                    </a>#}
                    {#                    <div class="dropend">#}
                    {#                        <a class="dropdown-item dropdown-toggle" href="#sidebar-cards" data-bs-toggle="dropdown"#}
                    {#                           data-bs-auto-close="false" role="button" aria-expanded="false">#}
                    {#                            Cards#}
                    {#                            <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>#}
                    {#                        </a>#}
                    {#                        <div class="dropdown-menu">#}
                    {#                            <a href="./cards.html" class="dropdown-item">#}
                    {#                                Sample cards#}
                    {#                            </a>#}
                    {#                            <a href="./card-actions.html" class="dropdown-item">#}
                    {#                                Card actions#}
                    {#                                <span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>#}
                    {#                            </a>#}
                    {#                            <a href="./cards-masonry.html" class="dropdown-item">#}
                    {#                                Cards Masonry#}
                    {#                            </a>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <a class="dropdown-item" href="./colors.html">#}
                    {#                        Colors#}
                    {#                    </a>#}

                </div>

            </div>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false"
           role="button" aria-expanded="false">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"/><path d="M12 12l8 -4.5"/><path
                            d="M12 12l0 9"/><path d="M12 12l-8 -4.5"/><path d="M16 5.25l-8 4.5"/></svg>
                  </span>
            <span class="nav-link-title">
                    Group By Examples
                  </span>
        </a>
        <div class="dropdown-menu {% should_show "group_by" %}">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    {% get_menu "group_by" %}


                </div>

            </div>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false"
           role="button" aria-expanded="false">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"/><path d="M12 12l8 -4.5"/><path
                            d="M12 12l0 9"/><path d="M12 12l-8 -4.5"/><path d="M16 5.25l-8 4.5"/></svg>
                  </span>
            <span class="nav-link-title">
                    Time Series Examples
                  </span>
        </a>
        <div class="dropdown-menu {% should_show "timeseries" %}">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    {% get_menu "timeseries" %}


                </div>

            </div>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false"
           role="button" aria-expanded="false">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"/><path d="M12 12l8 -4.5"/><path
                            d="M12 12l0 9"/><path d="M12 12l-8 -4.5"/><path d="M16 5.25l-8 4.5"/></svg>
                  </span>
            <span class="nav-link-title">
                    Crosstab Examples
                  </span>
        </a>
        <div class="dropdown-menu {% should_show "crosstab" %}">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    {% get_menu "crosstab" %}


                </div>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url "highcharts-examples" %}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M5 12l-2 0l9 -9l9 9l-2 0"/><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path
                            d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/></svg>
                  </span>
            <span class="nav-link-title">
                    HighCharts
                  </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url "chartjs-examples" %}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M5 12l-2 0l9 -9l9 9l-2 0"/><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path
                            d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/></svg>
                  </span>
            <span class="nav-link-title">
                    ChartsJS
                  </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "apexcharts-examples" %}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M5 12l-2 0l9 -9l9 9l-2 0"/><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path
                            d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/></svg>
                  </span>
            <span class="nav-link-title">
                    Apex Chart Demo
                  </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "custom-export" %}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                            d="M5 12l-2 0l9 -9l9 9l-2 0"/><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path
                            d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/></svg>
                  </span>
            <span class="nav-link-title">
                    Custom Export
                  </span>
        </a>
    </li>

</ul>