{% extends 'slick_reporting/base.html' %}
{% load crispy_forms_tags i18n slick_reporting_tags %}

{% block content %}
    <div class="col-12">
        {% if form %}
            {% include "slick_reporting/report_form.html" %}
        {% endif %}

        <div class="card" id="{{ report.report_slug }}">
            <div class="card-header">
                <h5 class="card-title">{% translate "Results" %}</h5>
            </div>
            <div class="card-body">
                <div data-report-widget
                     data-report-url="{{ request.path }}"
                     data-extra-params=""
                     data-form-selector="#reportForm"
                        {% if not auto_load %} data-no-auto-load{% endif %}
                     data-display-chart-selector="True">
                    <div data-report-chart>
                    </div>
                    <div data-report-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% get_charts_media report.get_chart_settings %}
{% endblock %}