{% load  erp_reporting_tags %}

<div class="card">
    {% if no_title != True %}
        <div class="card-header">
            <h5 class="card-title">{{ report.get_report_title }}</h5>
        </div>
    {% endif %}
    <div class="card-body">
        <div data-report-widget
             data-report-url="{% get_report_url report %}"
             data-extra-params="{{ data_extra_param|default:'' }}"
             data-success-callback="{{ data_success_callback|default:'' }}"
             data-chart-id="{{ data_chart_id|default:'' }}"
             data-display-chart-selector="{{ data_display_chart_selector }}"
        >
            {% if report.chart_settings and no_chart == False %}
                <div id="container" data-report-chart style="width:100%; height:400px;"></div>
                {#                <canvas data-report-chart height="100"></canvas>#}
            {% endif %}
            {% if no_table != True %}
                <div data-report-table>
                </div>
            {% endif %}
        </div>
    </div>
</div>